		</div>
		<!-- /.container -->
		<footer class="footer">
			copyright @Sidak Singh Aulakh
		</footer>
		<!-- jQuery CDN -->
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
	  <!-- Bootstrap CDN -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<!-- ajax -->
		<script src="/ajax.js" charset="utf-8"></script>
		<script type="text/javascript">
		// import * as data from '/passkey.json';
		// const word = data.passkey;
		// alert(word);
			$("#enter").click(function() {
				var data1 = $("#passkey").val();
				if (data1 = "admin") {
					$(".change").removeClass('invisible');
				// else {
				// 	$(".change").addClass('invisible');
				// }
				};
			});
		</script>
    </body>
</html>
